body {
  background-color: white;
  margin: 10px;
  background-position: center;
  background-image: url("matrix.jpg");
}

.Panel{
  width: 300px;
  padding: 5px;
  margin: auto; /*Coloca el panel en el centro*/
}

.Cabecera{
  width: auto;
  padding: 5px;
  margin: auto; /*Coloca el panel en el centro*/
}

.Teclado {
  text-align: center; /*centro*/
  background-color: rgba(255, 255, 255, 0.705);
  padding: 15px;
  border: solid;
  border-color: green;
  border-radius: 50px;
  margin: auto; /*Coloca el panel en el centro*/
  width: auto;
  font-size: 50px;
}

.Linea1 {
  text-align: center;
  font-size: 40px;
}

.Linea2 {
  text-align: center;
  font-size: 40px;
}

.Linea3 {
  text-align: center;
  font-size: 40px;
}

.Linea4 {
  text-align: center;
  font-size: 40px;
}

.Linea5 {
  text-align: center;
  font-size: 40px;
}

.Codigo {
  text-align: center;
  border: solid;
  border-color: yellow;
  font-size: 50px;
}

#cronometro {
  text-align: center;
  font-size: 40px;
  color: white;
}

button {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  font-family: Verdana;
}

#secretpassword {
  font-size: 40px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(217, 226, 216, 0.705);
}